html,
body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
}

label {
    display: block;
}

.container {
    text-align: center;
    margin: 2.5%;
}

.title {
    text-align: center;
    font-weight: bold;
    background-color: #007bff;
    color: white;
    padding: 20px;
    font-size: 24px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

#input {
    padding: 10px 20px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#submit {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#submit:hover {
    background-color: #0056b3;
}

#csv {
    margin-top: 10px;
}

.footer {
    text-align: center;
    background-color: #e6e6e6;
    font-size: small;
    padding: 0.5%;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#executions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 10%;
    min-height: 25%;
}

.execution {
    flex: 1;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0% 0.25% 0.5% 0.25%;
    white-space: pre-wrap;
    font-family: monospace;
    min-width: 30%;
}

.error {
    color: #DE3163;
    font-weight: bold;
}

.success {
    color: #29b705;
    font-weight: bold;
}